.table-row{
    display: flex;
    background: #FCFCFC;
    border-radius: 10px;
    justify-content: space-between;
    margin:0 5px 3px 3px;

}
.table-row span{
    width:150px;
    margin: 0 auto;
}